# ======================
# Node general
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
.pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Build / output
dist/
build/
out/
tmp/

# Cache
.cache
.parcel-cache
.nyc_output
coverage/

# ======================
# Angular específico
# ======================
/dist
/tmp
/out-tsc
/bazel-out

/.angular/cache

# ======================
# IDEs
# ======================
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/mcp.json

# Otros
.project
.classpath
.settings/
.history/

# ======================
# Sistema
# ======================
.DS_Store
Thumbs.db
node_modules
